NEXT_PUBLIC_EVM_RPC=http://YOUR_SERVER_IP:8545
NEXT_PUBLIC_COSMOS_RPC=http://YOUR_SERVER_IP:26657
NEXT_PUBLIC_REST_API=http://YOUR_SERVER_IP:1317
NEXT_PUBLIC_CONTRACT_ADDRESS=0xcaD5D1E599AB1D964b3D138294AE616E7fe199e7
